@{
    ViewBag.Title = "OU Football";
}

<div class="jumbotron">
    <h1>OU Football</h1>
    <p class="lead">The Oklahoma Sooners football program is a college football team that represents the University of Oklahoma. The team is a member of the Big 12 Conference, which is in Division I Football Bowl Subdivision of the National Collegiate Athletic Association.</p>
    <p><a target="_blank" href="http://www.soonersports.com/SportSelect.dbml?DB_OEM_ID=31000&SPID=127245&SPSID=750323&DB_OEM_ID=31000&_ga=2.48828771.439711386.1556549675-968668421.1556549675" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
